<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="./construction.css" />
        <title>CONSTRUCTION</title>
    </head>
    <body class="design">
        <!-- Backgound Image -->
        <div class="background">
            <div class="rect-1"></div>
            <div class="rect-2"></div>
            <img class="main-img" src="../assets/main_building.png">
        </div>
        <!-- GNB -->
        <Header class="nav-ber">
            <span class="logo">CONSTRUCTION</span>
            <span class="menu-home">Home</span>
            <span class="menu-about">About Us</span>
            <span class="menu-service">Services</span>
            <span class="menu-project">Project</span>
        </Header>
        <!-- Main 01 -->
        <div class="main-01">
            <div class="main-text">
                <span class="main-text-1">Masters</span>
                <span class="main-text-2">of<br>Consistency and<br></span>
                <span class="main-text-1">Quality
                    <span class="main-text-2" style="margin-left: -15px;">.</span>
                </span>
            </div>
            <div class="sub-text">
                <span>Blessing welcomed ladyship she met humoured sir<br>breeding her. Six curiosity day assurance bed necessary.</span>
            </div>
            <div class="main-btn-box">
                <button class="main-btn btn-1">Explore</button>
                <button class="main-btn btn-2">Contact Us</button>
            </div>
            <img class="vector" src="../assets/Vector 11.png">
            <div class="info">
                <div class="info-box">
                    <div class="half-circle orange"></div>
                    <span class="info-text">25,356</span>
                    <span class="info-sub-text">Projects Done</span>
                </div>
                <div class="info-box space">
                    <div class="half-circle blue"></div>
                    <span class="info-text">15,200</span>
                    <span class="info-sub-text">Buildings Done</span>
                </div>
                <div class="info-box space">
                    <div class="half-circle green"></div>
                    <span class="info-text">350+</span>
                    <span class="info-sub-text">Total Employees</span>
                </div>
            </div>
            <img class="company" src="../assets/company.png">
        </div>
        <!-- Main 02 -->
        <div class="main-02">
            <div>
                <div class="main-02-box">
                    <span class="sub-text">Blessing welcomed ladyship she met humoured sir<br>breeding her. Six curiosity day assurance bed necessary.</span>
                    <button class="main-btn btn-1 block">Explore</button>
                </div>
                <div class="main-02-box2">
                    <span class="main-text-3">Why Choose us for<br>best construction<br>experience</span>
                </div>
            </div>
            <div class="main-02-box3">
                <img class="building" src="../assets/building_1.png"></div>
            </div>
            <div>
                <div class="main-02-box4">
                    <div class="rect-3 blue"></div>
                    <span class="sub-text-2">01</span>
                    <span class="sub-text-3">And residence for met the estimable<br>disposing. Mean if he they been no hold<br>mr. Is at much do made took held help.</span>
                </div>
                <div class="main-02-box4 space-2">
                    <div class="rect-3 light-orange"></div>
                    <span class="sub-text-2">02</span>
                    <span class="sub-text-3">Up maids me an ample stood given.<br>Certainty say suffering his him<br>collected intention promotion.</span>
                </div>
                <div class="main-02-box4 space-2">
                    <div class="rect-3 light-green"></div>
                    <span class="sub-text-2">03</span>
                    <span class="sub-text-3">Good draw knew bred ham busy his<br>hour. Ask agreed answer rather joy<br>nature admire wisdom.</span>
                </div>
            </div>
        </div>
        <!-- Main 03 -->
        <div class="main-03">
            <div class="main-03-box">
                <span class="main-text-4">Our Best Engineers</span>
                <span class="sub-text-4">Blessing welcomed ladyship she met humoured sir breeding her. Six curiosity day assurance bed necessary.</span>
            </div>
            <div class="main-03-box2">
                <div class="main-03-box3">
                    <div class="main-03-box4">
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-ellipsis-vertical dot"></i>
                    </div>
                    <img class="profile" src="../assets/person_1.png">
                    <div class="person_info">
                        <span class="name">Chris Evans</span>
                        <span class="department">Michigan, TX</span>
                        <span class="phone">989-653-2986</span>
                        <span class="email">ChrisEvans@const.com</span>
                    </div>
                </div>
                <div class="main-03-box3 space-3">
                    <div class="main-03-box4">
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-ellipsis-vertical dot"></i>
                    </div>
                    <img class="profile" src="../assets/person_2.png">
                    <div class="person_info">
                        <span class="name">Alison Kiara</span>
                        <span class="department">Michigan, TX</span>
                        <span class="phone">989-653-2986</span>
                        <span class="email">alisonkiara@const.com</span>
                    </div>
                </div>
                <div class="main-03-box3 space-3">
                    <div class="main-03-box4">
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-ellipsis-vertical dot"></i>
                    </div>
                    <img class="profile" src="../assets/person_3.png">
                    <div class="person_info">
                        <span class="name">Adam Gates</span>
                        <span class="department">Michigan, TX</span>
                        <span class="phone">989-653-2986</span>
                        <span class="email">adamgates@const.com</span>
                    </div>
                </div>
            </div>
            <div class="arrow-button">
                <i class="fa-solid fa-arrow-left-long left-arrow"></i>
                <div class="right-arrow-btn">
                    <i class="fa-solid fa-arrow-right-long right-arrow"></i>
                </div>
            </div>
        </div>
    </body>
</html>
