<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
        <link rel="stylesheet" href="./construction.css" />
        <title>CONSTRUCTION</title>
    </head>
    <body class="design">
        <!-- Backgound Image -->
        <div class="background">
            <div class="rect-1"></div>
            <div class="rect-2"></div>
            <img class="main-img" src="../assets/millo-lin-Ep3NPU9Uhkw-unsplash 1.png">
        </div>
        <!-- GNB -->
        <Header class="nav-ber">
            <span class="logo">CONSTRUCTION</span>
            <span class="menu-home">Home</span>
            <span class="menu-about">About Us</span>
            <span class="menu-service">Services</span>
            <span class="menu-project">Project</span>
        </Header>
        <!-- Main 01 -->
        <div class="main-01">
            <div class="main-text">
                <span class="main-text-1">Masters</span>
                <span class="main-text-2">of<br>Consistency and<br></span>
                <span class="main-text-1">Quality
                    <span class="main-text-2" style="margin-left: -15px;">.</span>
                </span>
            </div>
            <div class="sub-text">
                <span>Blessing welcomed ladyship she met humoured sir<br>breeding her. Six curiosity day assurance bed necessary.</span>
            </div>
            <div class="main-btn-box">
                <button class="main-btn btn-1">Explore</button>
                <button class="main-btn btn-2">Contact Us</button>
            </div>
            <img class="vector" src="../assets/Vector 11.png">
            <div class="info">
                <div class="info-box">
                    <div class="half-circle orange"></div>
                    <span class="info-text">25,356</span>
                    <span class="info-sub-text">Projects Done</span>
                </div>
                <div class="info-box space">
                    <div class="half-circle blue"></div>
                    <span class="info-text">15,200</span>
                    <span class="info-sub-text">Buildings Done</span>
                </div>
                <div class="info-box space">
                    <div class="half-circle green"></div>
                    <span class="info-text">350+</span>
                    <span class="info-sub-text">Total Employees</span>
                </div>
            </div>
            <img class="company" src="../assets/logos.png">
        </div>
        <!-- Main 02 -->
        <div class="main-02">
            <div>
                <div class="main-02-box">
                    <span class="sub-text">Blessing welcomed ladyship she met humoured sir<br>breeding her. Six curiosity day assurance bed necessary.</span>
                    <button class="main-btn btn-1 block">Explore</button>
                </div>
                <div class="main-02-box2">
                    <span class="main-text-3">Why Choose us for<br>best construction<br>experience</span>
                </div>
            </div>
            <div class="content">
                <img class="building" src="../assets/image.png"></div>
            </div>
        </div>
    </body>
</html>
