<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
        <link rel="stylesheet" href="./construction.css" />
        <title>CONSTRUCTION</title>
    </head>
    <body class="design">
        <!-- Backgound Image -->
        <div class="background">
            <div class="rect-1"></div>
            <img class="main-img" src="../assets/millo-lin-Ep3NPU9Uhkw-unsplash 1.png">
        </div>
        <!-- GNB -->
        <Header class="nav-ber">
            <span class="logo">CONSTRUCTION</span>
            <span class="menu-home">Home</span>
            <span class="menu-about">About Us</span>
            <span class="menu-service">Services</span>
            <span class="menu-project">Project</span>
        </Header>
        <!-- Main -->
        <div class="main-content">
            <div class="main-text">
                <span class="main-text-1">Masters</span>
                <span class="main-text-2">of<br>Consistency and<br></span>
                <span class="main-text-1">Quality
                    <span class="main-text-2" style="margin-left: -20px;">.</span>
                </span>
            </div>
            <div class="sub-text">
                <span>Blessing welcomed ladyship she met humoured sir<br>breeding her. Six curiosity day assurance bed necessary.</span>
            </div>
        </div>
    </body>
</html>