@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    height: 10%;
    background: #40A2D5;
}

.bg-img {
    min-width: min-content;
    width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    background-image: url(../img/main_logo.png);
    background-repeat: no-repeat;
    background-position: top right 50px;
}
/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: -0.06em;
    color: #40A2D5;
    margin: 20px 0 0 135px;
}
.nav {
    display: flex;
    flex-direction: row;
    margin: 20px 100px 0 0;
}
.nav li {
    font-size: 18px;
    line-height: 27px;
    margin-right: 35px;
}
.nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Main 01 */
main {
    margin: 118px 0 0 155px;
    position: relative;
}
.main-text-1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #313131;
}
.sub-text-1 {
    width: 541px;
    font-size: 18px;
    line-height: 28px;
    color: #6B6B6B;
    margin-top: 40px;
}

.btn-box-1 {
    flex-direction: row;
    margin-top: 40px;
}
.btn-explore {
    width: 214px;
    height: 64px;
    background: #40A2D5;
    box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259), 0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407), 0px 20px 13px rgba(64, 162, 213, 0.05), 0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593), 0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);
    border-radius: 40px 5px;
    border-style: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.5px;
}
.btn-contact {
    width: 214px;
    height: 64px;
    border: 1px solid #40A2D5;
    border-radius: 40px 5px;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.5px;
    margin-left: 15px;
}

.line {
    position: absolute;
    width: 632.27px;
    height: 608.43px;
    z-index: -1;
    margin: -40px 0 0-155px;
}

.company-info {
    display: flex;
    flex-direction: row;
}
.company-info li {
    margin-right: 52px;
}
.half-circle {
    width: 41.44px;
    height: 22.595px;
    border-radius: 100px 100px 0 0;
    transform: rotate(-53.53deg);
    margin-top: 91px;
}
.info-num {
    position: relative;
    z-index: 4;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #313131;
    margin: -13px 0 0 12px;
}
.info-name {
    font-size: 20px;
    line-height: 130%;
    color: #6B6B6B;
    margin-top: 15px;
    margin-left: 12px;
}

.companies {
    width: 1170px;
    height: 180px;
    background: #FAFAFA;
    border-radius: 150px;
    margin-top: 160px;
}
.companies ul {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 74px 0 0 82px;
}
.companies ul li {
    margin-right: 100px;
}

/* Main 02 */
h2 {
    width: 521px;
    font-weight: 500;
    font-size: 54px;
    line-height: 120%;
    color: #313131;
    margin-left: 91px;
}
.main-2-box {
    display: flex;
    flex-direction: row;
}
.main-2-box div button {
    margin-top: 30px;
}

.main-3-box {
    height: 850px;
    background: url(../img/building_1.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: 109px;
}
.main-3-box ul {
    padding-top: 3px;
}
.main-3-box ul li {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 140px;
    margin-top: 142px;
}
.sub-text-2 {
    width: 359px;
    font-size: 18px;
    line-height: 28px;
    color: #6B6B6B;
    margin-top: 40px;
}
.rect {
    width: 76px;
    height: 76px;
    border-radius: 5px 38px;
    margin: 40px 63px 0 0;
}
.number {
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #313131;
    z-index: 5;
    margin: -26px 0 0 29px;
}

/* Main 03 */
h3 {
    font-weight: 600;
    font-size: 54px;
    line-height: 56px;
    color: #313131;
    text-align: center;
    margin-bottom: 30px;
}
.sub-text-3{
    width: 672px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #6B6B6B;
    margin: 0 auto;
}
.main-4-box {
    width: 1170px;
    height: 435px;
    margin: 80px 0 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-box {
    width: 362px;
    height: 435px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(198, 217, 225, 0.3);
    border-radius: 5px;
}
.profile-item {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 30px 0 19px;
}
.star {
    margin-left: 30px;
    color: #F0BB00;
    font-size: 22px;
}
.dot {
    margin-right: 30px;
    color: #313131;
    font-size: 22px;
}
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background: url(../img/person_1.png);
    margin: 0 auto;
}
.user-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #313131;
    margin-top: 22px;
}
.profile-box a {
    text-decoration: none;
}
.department {
    font-size: 12px;
    line-height: 100%;
    margin-top: 7px;
    color: #6B6B6B;
    text-align: center;
}
.phone {
    margin-top: 47px;
    font-size: 18px;
    line-height: 27px;
    color: #6B6B6B;
    opacity: 0.9;
    text-align: center;
}
.email {
    margin-top: 8px;
    font-size: 17px;
    line-height: 26px;
    color: #40A2D5;
    text-align: center;
}

.btn-box-2 {
    width: 120px;
    height: 66px;
    box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259), 0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407), 0px 20px 13px rgba(64, 162, 213, 0.05), 0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593), 0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);
    border-radius: 65px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
}
.btn-box-2 button {
    border-radius: 40px;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    border-style: none;
    background-color: #FFFFFF;
}
.btn-box-2 button:hover {
    background: #40A2D5;
    color: #FFFFFF;
    box-shadow: 0px 8px 15px rgba(72, 72, 138, 0.08);
    border-radius: 40px;
    width: 50px;
    height: 50px;
}
.btn-box-2 button i {
    font-size: 20px;
}

/* Main 04 */
.bg-img-2 {
    height: 939px;
    background: url(../img/building_2.png);
    margin-top: 140px;
}
h4 {
    font-weight: 500;
    font-size: 54px;
    line-height: 76px;
    color: #FAFAFA;
    padding-top: 176px;
    text-align: center;
}

/* Color */
.text-blue {
    color: #40A2D5;
}
.text-black {
    color: #313131;
}
.bg-orange {
    background: #FE8432;
}
.bg-green {
    background: #42B918;
}
.bg-blue {
    background: #40A2D5;
}
.bg-light-orange {
    background: rgba(254, 132, 50, 0.52);
}
.bg-light-green {
    background: #B5E4A5;
}